extends layout

block content
  h1= title 
  p Search results kid 
  p 
  - let items=[{"age":8,"nationality":"American","blood_group":"O+"},{"age":9,"nationality":"Indian","blood_group":"B+"},{"age":6,"nationality":"American","blood_group":"B+"}]
    div(class="container-fluid")
        div(class="row")
            each v,index in items
                div(class="col-sm-2" onclick=`age(${index})`) #{v.age}
                div(class="col-sm-2" onclick=`age(${index})`) #{v.nationality}
                div(class="col-sm-2" onclick=`age(${index})`) #{v.blood_group}

  script.                
        function age(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }