extends layout

block content
  h1= title 
  p Search results kid 
  p 
  - let items=[{"age":8,"nationality":"American","blood_group":"O+"},{"age":9,"nationality":"Indian","blood_group":"B+"},{"age":6,"nationality":"American","blood_group":"B+"}]
    div(class="container-fluid")
        div(class="row m-1")
            each v,index in items
              - let destination = `dispatch(\"/kid/update?id=${v._id}\")` 
              div(class="card text-white bg-dark mb-4" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') Item #{v.nationality}(#{v.age}) is #{v.blood_group}
                <br/>
                button.btn( class="btn-primary ml-1", onclick= destination) Update 


  script.                
        function age(element)
        {
              alert(`Kid's position is ${element+1}.`)
        }
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 