extends layout

block content
  h1= title
  - let o;
  - let items = results; 
  
  script.
    function age(element){
      alert(`Kid's position is ${element+1}.`)
   } 
  
  div(class='container-fluid')
    div(class='row m-1')
      each item, index in items 
        - let destination = `dispatch(\"/kid/update?id=${item._id}\")`
        div(class="card text-white bg-dark mb-4" class='col' class='card' class='card-body' class='card-text' onclick='age('+index+')') Item #{item.nationality}(#{item.age}) is #{item.blood_group}
          <br><br>
          button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }