extends layout

block content
  h1= title 
  p Search results kid 
  p 
  - let items=[{"age":8,"nationality":"American","blood_group":"O+"},{"age":9,"nationality":"Indian","blood_group":"B+"},{"age":6,"nationality":"American","blood_group":"B+"}]
    div(class="container-fluid")
        div(class="row")
            each v,index in items
              div(class="card text-white bg-dark mb-3" class='col' class='card' class='card-body' class='card-text' onclick='buy('+index+')') #{o}
                div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
                div(class="col-sm-2" onclick=`age(${index})`) #{v.cost}
                div(class="col-sm-2" onclick=`age(${index})`) #{v.model}
                div(class="col-sm-2" onclick=`age(${index})`) #{v.memory}
                a(href="kid/update/?id="+v.id) Update
                a(href="kid/detail/?id="+v.id) View
                a(href="kid/delete/?id="+v.id) Delete


  script.                
        function age(element)
        {
              alert(`Kid's position is ${element+1}.`)
        }